**/*.dSYM
**/*.bin
**/*.fls
**/*.aux
**/*.synctex.gz
**/*.csv
# remove folder named .cph
.cph
# remove folder named .vscode
.vscode
# remove folder named tempCodeRunnerFile
tempCodeRunnerFile.*
# remove all files which don't have any extension
*

